#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Boot to Windows
Keywords=windows;boot;
Exec=/usr/bin/bootwindows
Type=Application
StartupNotify=true
Actions=New
Terminal=false
Icon=wine
