#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Boot to Windows
Keywords=windows;boot;
Exec=/usr/bin/boot2 "Windows"
Type=Application
StartupNotify=true
Actions=New
Terminal=false
Icon=wine
